.right {
  flex: 1; /* This will make sure your right region takes up half the width of the main container */
  /* Add your other styles here */
  background-color:white; /* This will set the background color of the right region to white */
  /* Add your other styles here */
}

.inputContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputField {
  flex: 1;
  margin-right: 10px;
}

.messageBox {
  text-align: right;
  background-color: lightblue;
  margin-left: 10px; 
  margin-bottom: 10px;
  /* Add other styles as needed */
}

.answerBox {
  text-align: left;
  background-color: lightgreen;
  margin-right: 10px; 
  margin-bottom: 10px;
  /* Add other styles as needed */
}

.sendButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}